C#/Easy/bin
C#/Easy/obj
C#/Easy/DataTypeEg
C#/Easy/DataTypeEg.sln
C++/Debug
C++/DivisibilityTest.sln
C++/DivisibilityTest.vcxproj
C++/DivisibilityTest.vcxproj.filters
C++/DivisibilityTest.vcxproj.user
