C#/Easy/DataTypeEg/bin
C#/Easy/DataTypeEg/obj
C#/Easy/DataTypeEg/DataTypeEg.sln
C#/Easy/DataTypeEg/.vs
C#/Easy/DataTypeEg/.vs/
C#/Easy/DataTypeEg/DataTypeEg.csproj
C#/Easy/NumberToMonth/bin
C#/Easy/NumberToMonth/NumberToMonth
C#/Easy/NumberToMonth/obj
C#/Easy/NumberToMonth/NumberToMonth.sln

C++/DivisibilityTest/Debug
C++/DivisibilityTest/DivisibilityTest.sln
C++/DivisibilityTest/DivisibilityTest.vcxproj
C++/DivisibilityTest/DivisibilityTest.vcxproj.filters
C++/DivisibilityTest/DivisibilityTest.vcxproj.user

C++/EasyCalculation/Debug
C++/EasyCalculation/EasyCalculation.sln
C++/EasyCalculation/EasyCalculation.vcxproj
C++/EasyCalculation/EasyCalculation.vcxproj.filters
C++/EasyCalculation/EasyCalculation.vcxproj.use

C++/przyklady/Debug
C++/przyklady/przyklady.sln
C++/przyklady/przyklady.vcxproj
C++/przyklady/przyklady.vcxproj.filters
C++/przyklady/przyklady.vcxproj.user
